.page-assoc-cadastre-role {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

