/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- HISTOIRE   ----------------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

/* Make the main container take up the full viewport */
.page-histoire {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

.panneau-bas-historique {
    display: flex;
    flex-direction: column;
    height: 200px; /* Initial height */
    overflow: hidden; /* Prevent overflow */
    width: 100%; /* Ensure it takes the full width of its container */
    border: 1px solid #ccc; /* Add a border for visibility */
    position: relative; /* Ensure the handle is positioned correctly */
}

/* The dimensionable area for resizing */
.histoire-dimensionnable {
    display: flex; /* This makes the left and right panels sit side by side */
    flex: 1; /* Take remaining space */
    height: 100%; /* Ensure it fills the entire height of its parent */
    justify-content: flex-start;
    align-items:left;
}

/* The left panel with the table (Resizable) */
.histoire-barre-historique {
    background-color: #1f1f1f;
    color:white;
    border-right: 2px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    min-width: 150px;
    max-width: 600px;
    height: 100%; /* Full height of its container */
    flex-shrink: 0; /* Prevent shrinking */
}

/* The right panel for map and bottom table */
.histoire-barre-droite {
    display: flex;
    flex-direction: column; /* Stack map and table vertically */
    flex: 1; /* Take remaining space */
    height: 100%; /* Full height of its container */
}

/* The resizable map (histoire-carte) */
.histoire-carte-container {
    flex: 1;
    position: relative;
}

/* The bottom section in the right panel */
.histoire-barre-territoires-bas {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0; /* Prevent shrinking */
    background-color: #1f1f1f;
    color:white;
}

.table-territoire-historique {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    padding:10px;
    flex:1;
}

